@charset "utf-8";

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    margin: auto;
    background: linear-gradient(34deg, rgb(58, 58, 71), rgb(207, 187, 187));
    
}


.topo{
    background-color: #1a1919;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 3px 3px 10px 2px #070707;
    height: 100px;
}

.cont-logo{
    
    margin-left: 60px;    
}

.logo{
    width: 160px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px 2px #240a0a;
    border: solid 1px rgb(255, 255, 255) ;
    margin-top: 6px;
    margin-left: -100px;
    
}

.menu{
    padding-top:4.9%;
}

.button{
    margin-right: 60px;    
    text-transform:uppercase;
    box-shadow: 3px 3px 10px 2px #070707;
    color: #000000;
}

.button:hover{
    background-color: #000000;
}

.botao{
    text-decoration: none;
    color: black; 
    font-size: 1.8em; 
}

.botao:hover{
    color: white;
}



.cont-reds{
    margin-right: 10px;
    padding-top: 1%;
    
}
.icon{
    
    
}

main{
    width: 800px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    min-width:220px ;
}

.post-intro{
   margin-top: 6px;
}

.cont-post{
    margin-top: 20px;
    margin-left:20%;
}

.post{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.post-text{
    width: 300px;
    
}

.img1{
    

}
.img2{
   
    margin-bottom: -3.5px;

}


.rodape{
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(2, 2, 2, 0.747);
    color: white;
}